@import '../../styles/Variables.scss'; 

.login{
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  overflow: hidden;
  display: flex;
  
  margin: 0 auto;
  
  
  .mainTextContainer{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem 0 10rem;

    .mainText{
      .title{
        display: block;
        font-size: 3.2rem;
        line-height: 3.4rem;
        margin-bottom: 2rem;
        color: $theme;
      }

      .description{
        font-size: 1.4rem;
      }

      .googleButton{
        margin-top: 3rem;
        display: flex;
        justify-content: flex-start;
        
        button{
          width: 80%;
          height: 4rem;
          font-size: 1rem!important;
          border-radius: 0.4rem!important;

          svg{ 
            padding-top: 0.1rem;
            margin-left: 1.4rem; 
            transform: scale(1.75);
          }
        }
      }
    }
  }

  .mainImageContainer{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img{
      margin-left: -3rem;
      width: 35vw;
      height: auto;
    }
  }
}

@media(max-width: 768px){
  .login{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .mainTextContainer{
    padding: 0rem 2rem 0 !important;
    flex-direction: column;
    justify-content: start!important;
    width: calc(100% - 4rem)!important;
    height: 60vh!important;

    .mainText{
      .title{
        display: block;
        font-size: 2.4rem!important;
        line-height: 2.6rem!important;
      }

      .description{
        font-size: 1.2rem!important;
      }

      .googleButton button{
        width: 100%!important;
      }
    }
  }

  .mainImageContainer{
    width: 100vw!important;
    
    height: 40vh;
    justify-content: center!important;
    img{
      margin: 1rem 0 -5rem!important;
      width: 55vw!important;
      height: auto;
    }
  }
}
