.toast-container{
  position: absolute;
  top: 2.4rem;
  right: 0;
  overflow: hidden;
  width: 16rem;
  z-index: 3;
  max-height: 90vh;

  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.toast-container div + div{
  margin-top: 0.5rem;
} 

.toast{
  position: relative;
  flex: 1;
  height: auto;
  border-radius: 0.5rem;

  display: flex;
  padding: 0.6rem;

  color: #4e4e4e;
}

.toast > div{
  margin: 0 auto 0 0.6rem;
  line-height: 1rem;
}
.toast strong{
  color: #111111;
}
.toast p{
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #111111;
}

.toast .title{
  display: flex;
  align-items: center;

  svg{
    margin-right: 0.4rem;
  }
}

.toast > svg{
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  
  color: #111111;
}