@import '../../styles/Variables.scss';

.form{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 0;
  margin-top: -1rem;

  fieldset{
    display: flex;
    justify-content: space-around;
    border: 0;
    outline: none;

    & + fieldset{
      margin-top: 1.2rem;
    }

    &:last-of-type{
      margin-top: auto;
      align-items: center;
      
      button{
        height: 3rem;
        width: 12rem;
        border-radius: 0.4rem;
        outline: none;
        font-size: 1rem;
        font-weight: 600;

        transition: opacity 0.2s;

        & + button{
          margin-left: 3rem;
        }

        &:hover{
          opacity: 0.8;
        }
      }

      .submit{
        background: $theme;
      }
      .reset{
        background: $text;
      }
    }
  }

  .close-icon{
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    font-size: 1.8rem;

    &:hover{ cursor: pointer; }
  }

  
}