@import './Variables.scss'; 

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  background: $bg;
  color: $text;
  font-family: Roboto, sans-serif;

  a{
    text-decoration: none;
  }
  
  button{
    border: 0;
    outline: none;
    cursor: pointer;
  }

  @media(min-width: 1600px){
    font-size: 130%;
  }

}

