@import '../../styles/Variables.scss';

.resume-container{
  width: 100vw;
  max-width: 1920px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
}

.secondary-resume-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1920px;
  height: 88vh;
  overflow-y: overlay;

  &::-webkit-scrollbar{
    width: 1.6rem;
  }

  &::-webkit-scrollbar-track{
    border: solid 0.65rem transparent;
    border-radius: 1rem;
    box-shadow: inset 0 0 2rem #AAAAAA;
  }

  &::-webkit-scrollbar-thumb{
    border: solid 0.65rem transparent;
    border-radius: 1rem;
    box-shadow: inset 0 0 4rem #FFFFFF;
  }
}

.stocks{
  width: 88vh;
  margin: 0 0 auto 2rem;
  padding: 2rem 0 2rem 0;

  h3{
    font-size: 2rem;
    font-weight: 500;
  }

  .total{
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-top: 0.4rem;

    h3{
      font-size: 1.6rem;
      font-weight: 400;
      margin-right: 0.4rem;
    }

    svg{ margin-right: 0.6rem; }

    span{
      color: $theme;
      font-weight: 500;
    }
  }

  .stocks-type-list{
    margin-top: 0.6rem;
    padding-left: 0.6rem;
    list-style-type: none;
  }

  li{
    &.open{
      .li-title-container svg{
        transform: rotate(90deg);
      }

      .li-stocks-list{
        font-size: 1.1rem;
        opacity: 1;

        li{
          padding: 0.1rem 0.4rem;
          border-radius: 0.2rem;
          width: fit-content;

          &:first-child{ margin-top: 0.4rem; }
          
          &:last-child{ margin-bottom: 0.4rem; }

          & + li{ margin-top: 0.25rem; }
  
          &:hover{ 
            background: $bg-extra-light; 
            cursor: default;
          }
        }
      } 
    }

    & + li{
      margin-top: 0.1rem;
    }

    .li-title-container{
      display: flex;
      align-items: center;
      
      svg{
        margin-right: 0.6rem;
        font-size: 1.4rem;
        transition: transform 0.2s;
      }
  
      .title{
        font-size: 1.4rem;
        color: green;
        font-weight: 700;
  
        span{
          font-size: 1.2rem;
          color: $text;
          font-weight: 400;
          margin-left: 0.1rem
        }
      }
  
      .amount{
        font-size: 1.2rem;
        font-weight: 400;
        padding: 0.4rem 0.6rem;
        margin-left: 0.3rem;
        border-radius: 0.3rem;
        background: $bg-extra-light;
      }
    }
  
    .li-stocks-list{
      list-style-type: none;
      padding-left: 0.8rem;
      font-size: 0;
      opacity: 0;

      transition: opacity .15s, font-size  .25s;
    }

  }

  
}

