@import '../../styles/Variables.scss';

.header{
  height: 13vh;
  max-height: 230px;
  width: calc(100vw - 2rem);
  max-width: 1880px;

  display: flex;
  justify-content: space-between;
  padding: 0.4rem 1rem;

  background: $header;

}

.logo{
  margin-left: 10%;
  display: flex;
  align-items: center;

  svg{
    color: $theme;
    font-size: 2.8rem;
    margin-right: 0.8rem;
  }

  .logo-text-container{
    display: flex;
    flex-direction: column;
    // margin-top: -0.8rem;

    .logo-text{
      font-size: 2.4rem;
      font-family: 'Kdam Thmor Pro', sans-serif;
    }

    .logo-slogan{
      font-size: 0.7rem;
      display: block;
      margin-top: -0.5rem;
    }
  }
}

.user-container{
  margin-right: 3.2rem;
  display: flex;
  align-items: center;


  .user-info{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    text-align: right;
    padding-right: 1rem;
    border-right: 1px solid $text;
    font-size: 0.9rem;
  }

  .user-avatar{
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 2px solid $theme;
    margin-right: 2rem;
  }

  svg{
    font-size: 1.4rem;

    &:hover{
      cursor: pointer;
    }
  }
}