@import '../../../styles/Variables.scss';

.label{

  input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    color: $text;
    padding: 0 0.6rem;
    font-size: 1.1rem;
  }

}