@import '../../../styles/Variables.scss';

.navigation{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  a{
    font-weight: 500;
    font-size: 1.3rem;
    color: $text;

    transition: color 0.3s;

    & + a{ margin-left: 2rem; }
    &.active{ color:  $theme; }
    &:hover{ color: $theme-light; }
  }
}