@import '../../styles/Variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  bottom: 10vh;
  border-radius: 0.4rem;
  background-color: $bg-extra-light;
  z-index: 2;
}

.modal-content-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  height: 80vh;

  h2{
    text-align: center;
    font-size: 2rem;
  }
}

@media(min-width: 1480px){
  .modal{
    top: 12vh;
    left: 12vw;
    right: 12vw;
    bottom: 12vh;
  }

  .modal-content-container{
    height: 76vh;
    padding: 3.6rem 2rem
  }
}


