@import '../../styles/Variables.scss';

.filters-container{
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 4.8rem auto 1.4rem auto;

  transition: margin 0.6s;

  .input-container{
    position: relative;
    width: 15.8rem;
    & + .input-container{ margin-left: 3rem; }

    svg{
      position: absolute;
      top: 1rem;
      right: 0.8rem;
      font-size: 1.2rem;
      background: $bg;
      padding: 0 0.2rem 0 0.6rem;
    }

    .input-dropdown{
      position: absolute;
      background: $bg;

      padding: 1rem;
      border-radius: 0.6rem;
      border: 2px solid $text;
      border-top: 0;

      width: 12rem;
      left: 0.7rem;
      z-index: 1;

      list-style-type: none;
      transition: all 0.05s;
      
      li {
        padding: 0.2rem 0.6rem;
        border-radius: 0.3rem;
        &:hover{
          background: $bg-extra-light;
        }
      }
    }
  }

  .input{
    border: 1.5px solid $text;
    border-radius: 0.5rem;
    outline: none;
    
    color: $text;
    background: $bg;
    
    height: 2.8rem;
    width: 14rem;
    padding: 0.1rem 0.8rem;

    font-size: 1rem;
  }

  .button{
    background: $theme;
    border: 0;
    border-radius: 0.4rem;
    outline: none;

    height: 2.4rem;
    width: 10rem;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: auto;
  
    transition: opacity 0.2s;
    &:hover{
      opacity: 0.7;
    }
  }
}