@import '../../styles/Variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  top: 14vh;
  left: 14vw;
  right: 14vw;
  bottom: 14vh;
  border-radius: 0.4rem;
  background-color: $bg-extra-light;
}

.modal-content-container{
  flex: 1;
  display: flex;
  padding: 1rem 2rem;
  height: calc(72vh - 2rem);
  flex-direction: column;

  h2{
    text-align: center;
    font-size: 2rem;
  }
}

